.portfolio-title {
  width: 100%;
  margin-bottom: 6rem;
}

.portfolio-title h2 {
  font-size: 4rem;
  color: var(--text);
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  margin: 0;
}

.portfolio-title span::before {
  content: '';
  height: 0.4rem;
  width: 5rem;
  position: absolute;
  background-color: #ec1839;
}

.portfolio-title span::after {
  content: '';
  height: 0.4rem;
  width: 2.5rem;
  position: absolute;
  margin-top: 0.8rem;
  background-color: #ec1839;
}

.row .portfolio-filter {
  flex: 0 0 100%;
  max-width: 100%;  
  text-align: center;
  margin-bottom: 4rem;
}

.portfolio .portfolio-filter button {
  background-color: transparent;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--text);
  cursor: pointer;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  padding-bottom: 0.2rem;
  transition: all 0.3s ease;
}

.portfolio .portfolio-filter button.active { 
  color: #ec1839;
  border-color: #ec1839;
}

.grid-portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 2.5rem;
  padding-bottom: 3.5rem;
}

/*Responsive*/

@media (max-width: 425px) {

  .row .grid-portfolio {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

@media (max-width: 375px) {

  .row .grid-portfolio {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

@media (max-width: 320px) {

  .portfolio-title {
    margin-top: 8rem;
  }
}

/*
        Effect image

.lightbox.open .lightbox-content {
  position: relative;
  transition: all 0.5s ease;
  transform: scale(0.8);
}

.lightbox.open .lightbox-content:hover {
  transform: scale(1);
}
*/