.container-main {
  position: relative;
  max-width: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 6rem;
}

.shadow-dark {
  box-shadow: 0 0 2rem rgba(48, 46, 77, 0.15);
}

.margin-top-40 {
  margin-top: 4rem;
}

.margin-top-30 {
  margin-top: 3rem;
}

.margin-top-25 {
  margin-top: 2.5rem;
}

/*Responsive*/

@media (max-width: 320px) {

  .container-main {
    width: 100%;
  }
}