.toggler {
  height: 4rem;
  width: 4.5rem;
  border: 1px solid #d4d4e3;
  cursor: pointer;
  position: absolute;
  margin-top: 2.2rem;
  margin-left: 3rem;
  z-index: 11;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggler.open {
  margin-left: 27rem;
}

.toggler span {
  height: 0.2rem;
  width: 1.8rem;
  display: inline-block;
  position: relative;
  background-color: #ec1839;
}

.toggler span::before {
  content: '';
  height: 0.2rem;
  width: 1.8rem;
  position: absolute;
  top: -6px;
  left: 0;
  background-color: #ec1839;
}

.toggler span::after {
  content: '';
  height: 0.2rem;
  width: 1.8rem;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #ec1839;
}

/*Responsive*/

@media (max-width: 990px) {

  .toggler {
    display: flex !important;
  }
  
}

@media (max-width: 375px) {

  .toggler.open {
    margin-left: 21rem;
  }
  
}
