.toggler span {
  height: 0.2rem;
  width: 1.8rem;
  display: inline-block;
  position: relative;
  background-color: #ec1839;
}

.toggler span::before {
  content: '';
  height: 0.2rem;
  width: 1.8rem;
  position: absolute;
  top: -6px;
  left: 0;
  background-color: #ec1839;
}

.toggler span::after {
  content: '';
  height: 0.2rem;
  width: 1.8rem;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #ec1839;
}

