/*Import the fonts used*/
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

/*Basic reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Global styles*/
html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: #2d2c2c;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}